body {
  margin-bottom: 0px;
  background-color: rgba(3, 3, 3, 0.74);
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  width: 100%;
  margin: 128px 0px 0px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  display: inline-block;
  margin: 10px 0px 10px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {  
  margin: 5px 0px 15px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #008cff;
}
.button-well .button.github {
    padding-left: 64px;

    border: 1px solid #009e62;

    background-color: #00c67c;
    background-image: 
        url('../images/button-github.png'),
        linear-gradient(0deg, #00b772, #00d486);
    background-position: 22px 47%, 50% 50%;
    background-size: 32px auto, auto auto;
    background-repeat: no-repeat, no-repeat;

    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.4),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #008f5a,
        0 3px 6px 0 rgba(0,0,0,0.4);
}
.button-well .button.github:hover {
    border-color: rgba(0,158,98,0.5);
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0.3),
        0 2px 0 0 #008f5a,
        0 3px 8px 0 rgba(0,0,0,0.4);
}
.button-well .button.github:active {
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 1px 7px -1px rgba(0,0,0,0.35),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 rgba(79,111,168,0),
        0 4px 7px 0 rgba(0,0,0,0);
    transform: translate(0px, 2px);
}
.button-well .button.release {
    margin-right: 15px;
    padding-left: 64px;

    border: 1px solid #005cd4;

    background-color: #07f;
    background-image: 
        url('../images/button-release.png'),
        linear-gradient(0deg, #005cd4, #4a89e8);
    background-position: 22px 47%, 50% 50%;
    background-size: 26px auto, auto auto;
    background-repeat: no-repeat, no-repeat;

    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.4),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #005cd4,
        0 3px 6px 0 rgba(0,0,0,0.4);
}
.button-well .button.release:hover {
    border-color: rgba(0,87,158,0.5);
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0.3),
        0 2px 0 0 #3c74bd,
        0 3px 8px 0 rgba(0,0,0,0.4);
}
.button-well .button.release:active {
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 1px 7px -1px rgba(0,0,0,0.35),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 rgba(79,111,168,0),
        0 4px 7px 0 rgba(0,0,0,0);
    transform: translate(0px, 2px);
}
.section {
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: rgba(3, 3, 3, 0.74);
  color: white;
}
.section.header {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #333;
}
.section.grey {
  background-color: #f2f2f2;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  background-color: #969696;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up {
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link:hover.sign-up:hover {
  background-color: #0076d6;
}
.company-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
}
.nav-bar {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}
.hero-bg {
  width: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  background-image: url(../images/sunrise_blue_mountains_landscapes_nature_valleys_fog_1920x1080_48559.jpg);
  background-attachment: fixed;
}
.subtitle {
  margin-bottom: 18px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 700;
}
.section-description {
  font-size: 14px;
}
.snippet {
  display: block;
  border-radius: 5px;
  background-color: #f2f2f2;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: black;
  text-decoration: none;
}
.snippet:hover {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.right-col {
  padding-top: 13px;
  text-align: right;
}
.more-link {
  position: static;
  display: block;
  height: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 20px 63px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  background-color: #109c00;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #008cff;
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.more-link.download {
  background-color: #006eff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.company-column {
  padding-right: 0px;
  padding-left: 0px;
}
.img-example {
  margin-bottom: 34px;
  background-image: none;
}
.footer-link {
  margin-right: 9px;
  margin-left: 9px;
  color: #008cff;
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.footer-text {
  font-size: 14px;
}
.content-bg {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: lightgrey;
  background-image: url(../images/nature_sun_silhouette_plants_bokeh_macro_blurred_background_1920x1080_47523.jpg);
  background-attachment: fixed;
}
.content-bg.two {
  background-image: url(../images/nature_sun_silhouette_plants_bokeh_macro_blurred_background_1920x1080_47523.jpg);
}
.example-image {
  width: 100%;
}
.features {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(3, 3, 3, 0.74);
  color: white;
}
.features-heading {
  padding-bottom: 23px;
  color: white;
}
.feature-containter {
  margin-bottom: -20px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}
.avatar-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.avatar {
  border-radius: 64px;
}
.testimonial {
  padding-top: 30px;
  padding-right: 10px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #f2f2f2;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}
.citation-author {
  font-weight: 500;
  text-align: right;
}
.testimonial-container {
  display: block;
  margin: 10px auto 10px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.49);
}
.testimonial-container.odd {
  margin: 10px 0px;
  padding-bottom: 0px;
}
.testimonials-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../images/wooden-boards-and-blurred-light.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.testimonial-header {
  margin-top: 0px;
  margin-left: -10px;
}
.share-block {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.share-section {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgba(3, 3, 3, 0.74);
  background-image: none;
  color: white;
}
.share-section.share {
  background-image: url(../images/wooden-boards-and-blurred-light.jpg);
  background-position: 0px 0%;
  background-repeat: repeat;
  background-attachment: fixed;
}
.downloads-heading {
  margin-bottom: 10px;
}
.disclaimer {
  color: #262525;
}
.disclaimer a:visited {
  color: #262525;
}
.disclaimer a:hover {
  color: #464545;
}
.disclaimer a:link {
  color: #262525;
}
.d-footer {
  padding-top: 30px;
  background-color: rgba(3, 3, 3, 0.74);
  color: #121212;
}
.about-text {
  padding: 10px 10px 11px;
  background-color: rgba(0, 0, 0, 0.29);
  color: white;
}
.share-heading {
  margin-top: 0px;
}
.share-icons-container {
  background-color: rgba(0, 0, 0, 0.49);
}
@media (max-width: 991px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url(../images/nature_sun_silhouette_plants_bokeh_macro_blurred_background_1920x1080_47523.jpg);
    background-attachment: fixed;
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .img-example {
    background-image: none;
  }
  .content-bg {
    background-image: url(../images/example-bg.png);
  }
  .content-bg.two {
    background-image: url(../images/example-bg.png);
  }
  .share-section.share {
    background-image: url(../images/Facebook-Map-Connections-World.jpg), url(../images/Seamless%20Icons%20Background%201.jpg);
    background-position: 0px -200%, 0% 0%;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: 173px;
  }
  h2 {
    margin-top: 107px;
  }
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .section.header {
    position: static;
    background-color: #333;
  }
  .nav-link {
    background-color: #6b6b6b;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
  }
  .nav-bar {
    text-align: center;
  }
  .hero-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(../images/nature_sun_silhouette_plants_bokeh_macro_blurred_background_1920x1080_47523.jpg);
  }
  .snippet {
    margin-bottom: 19px;
  }
  .right-col {
    margin-top: -42px;
  }
  .button-column {
    padding-top: 61px;
  }
  .company-column {
    text-align: center;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .content-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(../images/example-bg.png);
  }
  .share-section.share {
    background-image: url(../images/Facebook-Map-Connections-World.jpg), url(../images/Seamless%20Icons%20Background%201.jpg);
    background-position: 0px -200%, 0% 0%;
  }
}
@media (max-width: 479px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section.header {
    position: static;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url(../images/nature_sun_silhouette_plants_bokeh_macro_blurred_background_1920x1080_47523.jpg);
  }
  .section-description {
    width: 50%;
  }
  .content-bg {
    min-height: 330px;
    background-image: url(../images/example-bg.png);
  }
  .share-section.share {
    background-image: url(../images/Facebook-Map-Connections-World.jpg), url(../images/Seamless%20Icons%20Background%201.jpg);
    background-position: 0px -200%, 0% 0%;
  }
}